{{#link-to 'dives.new' class="card"}}
  <p class="assisting-info icon plus"></p>
  <h2>New Dive</h2>
{{/link-to}}

{{#each}}
  <div class="card dive" {{action 'edit' this}}>
    <p class="assisting-info">{{maxDepth}}&prime;</p>
    <h2>{{title}}</h2>
  </div>
{{else}}
  <p>No dives.</p>
{{/each}}

{{outlet}}
