<!-- <h1>Total time underwater: {{bottomTime}}</h1>

<hr /> -->

{{#link-to 'dives.new' class="card"}}
  <h2>New Dive<i class="icon fish"></i></h2>
{{/link-to}}

{{#each}}
  <div class="card dive">
    <p class="assisting-info">{{maxDepth}}<i class="icon depth"></i></p>
    <h2>{{title}}</h2>
    <div class="hover">
      {{#if psi}}
        <p>{{psi}}<i class="icon psi"></i></p>
      {{/if}}

      {{#if bottomTime}}
        <p>{{bottomTime}}<i class="icon clock"></i></p>
      {{/if}}

      <h2 {{action 'edit' this}}>{{title}}<i class="icon edit"></i></h2>
    </div>
  </div>
{{else}}
  <p>No dives.</p>
{{/each}}

{{outlet}}
